.eperience_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 85px;

    .container {
        flex-direction: row;
        justify-content: space-between;

        img {
            width: auto;
            height: 42px;
        }

        img.logo {
            width: 134px;
        }
    }
}

@media screen and (max-width:767px) {
    .eperience_container {
        .container {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            .info_section {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                
                hr{
                    display: none;
                }
            }

            img {
                height: 24px;

                &.logo {
                    width: 74px;
                }
            }

            .count {
                font-size: 14px;
            }
        }

    }

}