.grid-container {
  padding-left: 16px;
  padding-right: 16px;
}

.grid_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;

  .grid_card {
    padding: 34px;
    box-shadow: 0px 2px 13px 0px #13141517;
    border-radius: 4px;
    align-items: flex-start;

    img {
      object-fit: contain;
      box-sizing: border-box;
      width: 74px;
      height: 74px;
      padding: 16px;
      background: aliceblue;
      border-radius: 99px;
      overflow: visible;
    }
  }
}

@media screen and (max-width:767px) {
  .grid-container.container {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }

  .grid_wrapper .grid_card {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: var(--card-bg);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 50%;
      opacity: 0.05;
      filter: grayscale(1);
      transform: translateY(-20%) rotate(15deg);
    }

    img {
      width: 64px;
      height: 64px;

    }
    text{
      text-align: left;
    }
  }


}