header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background: #ffffff;
    border-bottom: 1px solid #eaecee;
    padding: 0 100px;

    .log {
        width: 172px;
        height: auto;
    }

    .action-container {
        flex: 1 0 1px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 40px;

        ul {
            list-style-type: none;
            display: flex;
            align-items: center;

            li,
            a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                line-height: 140%;
                color: #383838;
                transition: all 0.3s ease-in-out;
                font-weight: 600;

                &:hover {
                    color: #091678;
                    transition: 0.3s ease-in-out;
                    transform: scale(1.05);
                }

                &.call,
                &.sms {
                    width: 40px;
                    height: 40px;
                    border-radius: 12px;
                    background-color: #f7fbfd;
                    border: 1px solid #e7edf2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.quote-btn {
                    button {
                        background: #091678;
                        border: 1px solid transparent;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 12px;
                        height: 40px;
                        width: 100px;
                        cursor: pointer;
                    }
                }
            }

            a {
                opacity: .9;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

}