header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background: #ffffff;
    border-bottom: 1px solid  #eaecee;
    padding: 0 64px;
    .log{
        width: 172px;
        height: auto;
    }
    .action-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        ul{
            list-style-type: none;
            display: flex;
            align-items: center;
            li{
                font-size: 14px;
                font-weight: 400;
                line-height: 140%;
                color: #383838;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #091678;
                    font-weight: 500;
                    transition: 0.3s ease-in-out;
                    transform: scale(1.05);
                }
                &.call,&.sms{
                    width: 40px;
                    height: 40px;
                    border-radius: 12px;
                    background-color: #f7fbfd;
                    border: 1px solid #e7edf2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &.quote-btn{
                    button{
                        background: #091678;
                        border: 1px solid transparent;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 12px;
                        height: 40px;
                        width: 122px;
                        cursor: pointer;
                    }
                }
            }
            &:first-child{
                width: 290px;
                justify-content: space-between;
            }
            &:nth-child(2){
                gap: 14px;
            }
        }
    }
 
}